<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<bean id="rd" class="com.wolken.wolkenapp.Bean.RoadsBean">
	<property name="roadName" value="Brigade"></property>
	<property name="type" value="Street"></property>
	<property name="potholes" ref="ph"></property>
	
	
	
	</bean>
	<bean id="ph" class="com.wolken.wolkenapp.Bean.PotholesBean">
	<property name="noOfHoles" value="2"></property>
	<property name="area" value="15*2"></property>
	
	</bean>



</beans>